page-notes {
  display: block;
  margin: 0 auto;
  padding: 0 1em;
  max-width: 440px;
}

@media (max-width: 400px) {
  page-notes {
    padding: 0 0.5em;
  }
}

.notes-title {
  text-align: center;
  margin: 0;
}

.notes-filters {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.notes-filters-description {
  text-align: center;
  margin-bottom: 0;
}