page-notes {
  display: block;
  margin: 0 auto;
  padding: 0 1em;
  max-width: 440px;
}

@media (max-width: 350px) {
  page-notes {
    padding: 0 0.5em;
  }
}

.notes-title {
  text-align: center;
  margin: 0;
}

.notes-filters {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5em 0;
}

.notes-preview-item {
  margin: 1.5em 0;
}

.notes-preview-item-title-anchor {
  border-bottom: none;
}

.notes-preview-item-title {
  display: inline;
  margin: 0;
  padding-bottom: 0.1em;
  border-bottom: 1px dotted mediumvioletred;
}

.notes-preview-item-categories {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  margin-top: 1em;
}