ty-tag {
  display: block;
  font-size: 13px;
  padding: 0 1em;
  margin-right: 1em;
  border: 1px solid var(--line);
  cursor: pointer;
}

ty-tag:hover {
  background-color: var(--primary-tint);
}

ty-tag:active {
  background-color: var(--secondary-tint);
}

ty-tag[active=true] {
  background-color: var(--primary-tint);
}