@font-face {
  font-family: 'Quincy';
  src: url('../assets/fonts/quincy-cf-extra-bold.woff2') format('woff2'),
    url('../assets/fonts/quincy-cf-extra-bold.woff') format('woff'),
    url('../assets/fonts/quincy-cf-extra-bold.otf') format('opentype');
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  --text: #151951;
  --primary-tint: #F0F5FF;
  --secondary-tint: #E1EBFF;
  --line: #E3E3F1;
  --background: #FFFFFF;
  --highlight: lavender;
}

@media (prefers-color-scheme: dark) {
  html {
    --text: #FFFFFF;
    --primary-tint: #10144b;
    --secondary-tint: #1e225c;
    --line: #424464;
    --background: #01111f;
    --highlight: lightslategray;
  }
}

::selection {
  background-color: var(--highlight);
}

::-moz-selection {
  background-color: var(--highlight);
}

html,
body {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: var(--text);
  font-weight: normal;
  margin: 0;
  background-color: var(--background);
}

main[id=pages] {
  margin: 4em 0;
}

h1,
h2,
h3 {
  font-family: 'Quincy', serif;
  font-weight: normal;
}

h1 {
  font-size: 44px;
	line-height: 52px;
}

@media (min-width: 700px) {
  h1 {
    font-size: 46px;
    line-height: 56px;
  }
}

h2 {
  font-size: 34px;
	line-height: 42px;
}

h3 {
  font-size: 28px;
	line-height: 36px;
}

a {
  text-decoration: none;
  padding-bottom: 0.1em;
  border-bottom: 1px dotted mediumvioletred;
}

a:link,
a:visited {
  color: var(--text);
}

li {
  padding: 0.25em 0;
  margin: auto;
  list-style: url(../assets/svg/list-item-light.svg);
}

.blog-post {
  margin: 0 auto;
  max-width: 330px;
}

@media (min-width: 700px) {
  .blog-post {
    max-width: 550px;
  }
}

.ty-button {
  display: block;
  letter-spacing: 0.75px;
  line-height: 20px;
  width: fit-content;
  align-self: center;
  color: var(--text);
  text-decoration: none;
  text-align: center;
  padding: 0.75em 1.5em;
  background-color: var(--primary-tint);
  cursor: pointer;
  user-select: none;
  margin: 0.3em;
  border-radius: 100px;
  border: none;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.ty-button:hover {
  filter: brightness(110%) saturate(110%);
}

blockquote {
  border-left: 2px solid var(--line);
  max-width: 300px;
  margin: 1em auto;
}
@media (min-width: 700px) {
  blockquote {
    max-width: 460px;
  }
}

blockquote p {
  padding: 0 1em;
}

.hidden {
  display: none;
}
