ty-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: 1em 0;
  text-decoration: none;
  border: 1px solid var(--line);
  max-width: 440px;
}

.ty-card-position {
  margin: 0;
}

.ty-card-description {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 0.25em;
}

.ty-card-description--flyright li {
  list-style: url('../../assets/svg/list-item-purple.svg');
}

.ty-card-description--edenspiekermann li {
  list-style: url('../../assets/svg/list-item-red.svg');
}

.ty-card-description--bytedance li {
  list-style: url('../../assets/svg/list-item-blue.svg');
}